<!DOCTYPE html>
<html>
	<head>
		<title>Shopping Cart</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/custom.css"/>
        <script>
            $(document).ready(function() {
                $("#remove").click(function () {
                    $("#cart").load("/getCartItems");
                });
            });
        </script>
	</head>

	<body>
    <div id="cart">
		<nav class="navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Your online store</a>
				<div class="navbar-right">
					<div class="container minicart"></div>
				</div>
			</div>
		</nav>

        <br><br><br>
		<div class="container text-center">

			<div class="col-md-5 col-sm-12">
				<div class="bigcart"></div>
				<h1>Your shopping cart</h1>

			</div>

			<div class="col-md-7 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<span>ITEM</span>
						<span>Price</span>
					</li>
                    {{#products}}
					<li class="row">
						<span class="itemName">{{name}}</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">{{price}}</span>
                        <a id="remove" href="/removeCartItem/{{name}}_{{price}}"><span class="glyphicon glyphicon-remove"></span></a>
					</li>
                    {{/products}}
				</ul>
			</div>

		</div>
    </div>

		<!-- The popover content -->

		<!-- JavaScript includes -->

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/customjs.js"></script>

	</body>
</html>
